{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Tashan's Password Manager</h1>

    <!-- Form for the new passwords -->
    <form class="new-pw-form" action="/" method="POST">
        <input placeholder="Username" type="text" name="username" id="username">
        <input placeholder="Url" type="text" name="url" id="url">
        <input placeholder="Password" type="password" name="password" id="password">

        <input type="submit" value="Save">
    </form>

    <br>
    <!-- Table displaying stored passwords -->
    <table class="password-table">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Website</th>
            <th>Actions</th>
        </tr>
        {% for password in passwords %}
        <tr>
            <td>{{ password.username }}</td>
            <td>{{ password.password }}</td>
            <td></td>
            <td>
                <a href="/update/{{password.id}}">Update</a>
                <br>
                <a href="/delete/{{password.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}