{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Tashan's Password Manager</h1>

    <!-- Form for the new passwords -->
    <form class="new-pw-form" action="/" method="POST">
        <input placeholder="Username" type="text" name="username" id="username">
        <input placeholder="Url" type="text" name="url" id="url">
        <input placeholder="Password" type="password" name="password" id="password">

        <input type="submit" value="Save password">
    </form>

    <!-- Table displaying stored passwords -->
    <table class="password-table">
    </table>
</div>
{% endblock %}
